.Filter {
  background-color: rgb(50, 60, 88);
}
.search-bar {
    background-color: rgb(50, 60, 88);
    display: grid;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 10%;
    margin: auto;
    color: whitesmoke;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 10px;
  }
  