.header {
    background-color: var(--black);
    color: var(--white);
    height: 3rem;
    display: flex;
    align-items: center;
    font-family: 'Tangerine', cursive;
  }
  .header a {
    padding-left: 145px;
    text-decoration: none;
    color: white;
}
  .bookmark {
    width: 72%;
    display: flex;
    justify-content: flex-end;
    
  }
  .fa-bookmark {
    color: red;
    font-size: 30px;
  }
  .fa-bookmark:hover {
    cursor: pointer;
    color: var(--white);
  }