:root {
  --orangeish: rgb(218, 64, 8);
  --brightred: #F34213;
  --black: rgb(38, 38, 38);
  --white: rgb(191, 191, 191);
}
* {
  margin: 0;
  padding: 0;
}
.header {
  background-color: var(--black);
  color: var(--white);
  height: 3rem;
  display: flex;
  align-items: center;
  font-family: 'Tangerine', cursive;
}
.header h1 {
  padding: 80px;
}
.hero {
  background-image: url('../src/img/hero.jpg');
  animation-name: change-hero;
  animation-duration: 20s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-position: center;
  background-size: cover;
  height: 600px;
  min-height: 500px;
  width: 100%;
  padding: 0px 0px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
 @keyframes change-hero {
   0% {
    background-image: url('../src/img/hero.jpg');
   }
   50% {
    background-image: url('../src/img/single-malts.jpg');
   }
   100% {
    background-image: url('../src/img/Scotland.jpg');
   }
 }


.hero-text {
  padding-left: 5%;
  color: whitesmoke;
}
.hero-text button {
  color: white;
  background-color: var(--orangeish);
  font-size: 1.3rem;
  padding: 7px;
  border-radius: 8px;
}
.hero-text button:hover {
  background-color: whitesmoke;
  cursor: pointer;
  color: turquoise;
  transition: 0.3s;
}


.Sidenav {
  height: 100%;
  width: 160px;
  font-family: 'Anton', sans-serif;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(28,28,28);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  margin: 0 auto;
}
#mySidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(167, 10, 10);
  display: block;
  transition: 0.3s;
}
#mySidenav a:hover {
  color: var(--white);
}
.Sidenavcl button {
  color: white;
  background-color: transparent;
  position: absolute;
  top: 0;
  font-size: 35px;
  margin: 0 auto;
  padding: 0;
}

.Sidenavcl button:focus {
  outline: 0;
}

#closebtn {
  background-color:  transparent;
  position: absolute;
  top: 0;
  font-size: 36px;
  margin: 0 auto;
  color: var(--white);
}
#closebtn:focus {
  outline: 0;
}

.option-section {
  height: 85vh;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.threeSection {
  height: 20rem;
  width: 28%;
  background-color: var(--orangeish);
  color: whitesmoke;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  -webkit-box-shadow: 10px 28px 25px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 28px 25px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 28px 25px 0px rgba(0,0,0,0.75);
  border-radius: 8px;
}
.threeSection:hover {
  height: 21rem;
  width: 29%;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.threeSection-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 4%;
}

.footer {
  background-color: var(--black);
  height: 5rem;
}




/* filters */
.Filter {
  background-color: rgb(50, 60, 88);
  width: 15%;
  height: 100vh;
  float: left;
  color: whitesmoke;
}
.Filter * {
  padding: 10px;
}
.results-section {
  float: right;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  width: 85%;
  background-image: linear-gradient(to bottom, #75dbff, #a9e0ff, #cfe6ff, #eaefff, #fafafa);
}
.results {
  margin: 5px;
  width: 10vw;
  height: 35vh;
  background-color: rgb(236, 229, 229);
  border-style: solid;
  border-width: 5px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  -webkit-box-shadow: 10px 28px 25px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 28px 25px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 28px 25px 0px rgba(0,0,0,0.75);
}
.results:hover {
  color: blue;
  cursor: pointer;
}
.info {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
}
.img {
  height: 75%; 
}

/* history page */
.history {
  background-image: url('../src/img/cliffs.jpg');
  background-position: center;
  background-size: cover;
  height: 600px;
  min-height: 500px;
  width: 100%;
  padding: 0px 0px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
