:root {
  --orangeish: rgb(218, 64, 8);
  --brightred: #F34213;
  --black: rgb(38, 38, 38);
  --white: rgb(191, 191, 191);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("./styles/header.css");
@import url("./styles/home-hero.css");
@import url("./styles/side-nav.css");
@import url("./styles/home-below-hero.css");
@import url("./styles/footer.css");
@import url("./styles/filter.css");
@import url("./styles/results.css");
@import url("./styles/history.css");
@import url("./styles/enjoy.css");

