* {
  margin: 0;
  padding: 0;
}
html {
  background-color: gray;
  color: brown;
}
.header {
  background-color: darkred;
  color: white;
  height: 10vh;
  text-align: center;
}
.results-section {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}
.results {
  margin: 2.5px;
  width: 25vw;
  height: 30vh;
  border-style: double;
  border-width: 5px;
}
.user-details {
  display: flex;
  flex-direction: column;
}
